os:
  - linux

sudo: required

services:
  - docker

language: go

go:
  - 1.11.x

##before_script:
  ##- curl https://gcr.io/v2/google-containers/tags/list
  ##- echo "ddddddddddddddd"
  ##- curl https://gcr.io/v2/google-containers/kube-apiserver-arm64/tags/list
  ## travis_wait 30 
script:
  #- pwd
  #- go build
  - go get github.com/latelee/gcrsync
  - gcrsync sync --namespace google-containers --querylimit 20 --processlimit 50 --httptimeout 10s --processcount 200 --dockeruser gcrcontainer --dockerpassword ${DOCKER_PASSWORD} --githubrepo latelee/gcr.io --githubtoken ${GITHUB_TOKEN}
  - gcrsync sync --namespace kubeflow-images-public --querylimit 20 --processlimit 50 --httptimeout 10s --processcount 10 --dockeruser gcrcontainer --dockerpassword ${DOCKER_PASSWORD} --githubrepo latelee/gcr.io --githubtoken ${GITHUB_TOKEN}
  